<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-title class="mat-card-title">Task app - Register</mat-card-title>

    <div *ngIf="successMessage" class="alert alert-success mt-2">
         {{ successMessage }}
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <app-mat-input-field
        [control]="getControl('first_name')"
        label="First Name"
        [type]="'text'"
        [placeholder]="'first name'"
      ></app-mat-input-field>

      <app-mat-input-field
        [control]="getControl('last_name')"
        label="Last Name"
        [type]="'text'"
        [placeholder]="'last name'"
      ></app-mat-input-field>

      <app-mat-input-field
        [control]="getControl('email')"
        label="Email"
        [type]="'email'"
        [placeholder]="'email'"
      ></app-mat-input-field>

      <app-mat-input-field
        [control]="getControl('password')"
        label="Password"
        [type]="'password'"
        [placeholder]="'password'"
      ></app-mat-input-field>

      <app-mat-input-field
        [control]="getControl('password_confirmation')"
        label="Confirm password"
        [type]="'password'"
        [placeholder]="'confirm password'"
      ></app-mat-input-field>

      <app-mat-button
        text="Register"
        color="primary"
        [disabled]="registerForm.invalid"
        [loading]="loading"
        class="full-width"
      ></app-mat-button>

    </form>

    <div>
      <a color="info" routerLink="/auth/login">Have an account?</a>
    </div>
  </mat-card>
</div>
