<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-title class="mat-card-title">{{ config.appName || 'Task Management App' }}</mat-card-title>

    <mat-card-content class="text-center">
      <span class="text-lg font-medium">Register</span>
    </mat-card-content>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="p-10">

      <!-- First Name Field -->
      <app-mat-input-field
        [control]="getControl('first_name')"
        label="First Name"
        [type]="'text'"
        [placeholder]="'first name'"
      ></app-mat-input-field>

      <!-- Last Name Field -->
      <app-mat-input-field
        [control]="getControl('last_name')"
        label="Last Name"
        [type]="'text'"
        [placeholder]="'last name'"
      ></app-mat-input-field>

      <!-- Email Field -->
      <app-mat-input-field
        [control]="getControl('email')"
        label="Email"
        [type]="'email'"
        [placeholder]="'email'"
      ></app-mat-input-field>

      <!-- Password Field -->
      <app-mat-input-field
        [control]="getControl('password')"
        label="Password"
        [type]="'password'"
        [placeholder]="'password'"
      ></app-mat-input-field>

      <!-- Confirm Password Field -->
      <app-mat-input-field
        [control]="getControl('password_confirmation')"
        label="Confirm Password"
        [type]="'password'"
        [placeholder]="'confirm password'"
      ></app-mat-input-field>

      <!-- Submit Button -->
      <app-mat-button
        text="Register"
        color="primary"
        [disabled]="registerForm.invalid"
        [loading]="loading"
        class="full-width"
      ></app-mat-button>

    </form>

    <div>
      <a color="info" routerLink="/auth/login">Have an account?</a>
    </div>
  </mat-card>
</div>
