
<div class="login-container">
  <div class="login-form">
    <h2>Task App - Sign in</h2>

    <div *ngIf="errorMessage" class="alert alert-danger mt-2">
         {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success mt-2">
         {{ successMessage }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">

        <app-form-input-field
            [control]="getControl('email')"
            label="Email"
            [type]="'email'"
        ></app-form-input-field>

        <app-form-input-field
            [control]="getControl('password')"
            label="Password"
            [type]="'password'"
        ></app-form-input-field>

        <div class="button-container">
            <a routerLink="/auth/register" class="btn btn-link">Register here</a>

            <app-button type="submit" [disabled]="isSubmitting" class="btn btn-primary w-full">
                {{ isSubmitting ? 'loggin...' : 'Login' }}
            </app-button>
        </div>
        
    </form>
  </div>
</div>
